.navbar {
    background-color: #333333 !important;
    padding: 30px;
}

.center-vert {
    padding: 15% 0;
}

.banner-text-large {
    font-size: 42px;
    font-weight: bold;
    width: 600px;
    text-align: center;
    margin: 15px 0;
}